@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.scale-in-ver-top {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-out-ver-top {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.scale-out-ver-top {
  animation: scale-out-ver-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

.header {
  height: 99px;
  display: flex;
  justify-content: center;
  position: relative;
}
.header__logo {
  padding: 15px 0;
}
.header__rectangle {
  margin: 0 66px 0 47px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__icons {
  margin-left: 97px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__icons_pointer {
  cursor: pointer;
}

.menu {
  display: flex;
}
.menu__list {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 152%;
  color: #003274;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 32px;
  letter-spacing: 0.005em;
}
.menu__list_item:hover {
  border-bottom: 2px solid #003274;
}
.menu__link {
  text-decoration: none;
  color: #003274;
}

.burger-menu {
  position: absolute;
  width: 700px;
  height: 77px;
  top: 99px;
  display: none;
  margin-left: 20%;
}
.burger-menu__list {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 152%;
  color: #003274;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  letter-spacing: 0.005em;
}
.burger-menu__list_item:hover {
  border-bottom: 2px solid #003274;
}
.burger-menu__link {
  text-decoration: none;
  color: #003274;
}

.close {
  display: none;
}

.metallurgy {
  display: flex;
  flex-direction: column;
}
.metallurgy__heading {
  margin: 60px 0 80px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.metallurgy__text {
  margin: 130px 0 130px 305px;
  font-weight: 700;
  font-size: 44px;
  line-height: 123.8%;
  letter-spacing: -0.005em;
  color: #003274;
}
.metallurgy__text_width {
  max-width: 1312px;
  padding-right: 250px;
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  max-width: 91.3%;
  padding-top: 100px;
  padding-left: 305px;
  box-sizing: border-box;
  position: relative;
}
.description__text {
  padding-right: 183px;
}
.description__text__img {
  position: absolute;
  left: 115px;
  top: 45px;
  z-index: -1;
}
.description__text_black {
  max-width: 904px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.description__text_black__link {
  color: black;
}
.description__text_black:nth-last-child(1) {
  padding-top: 32px;
  padding-bottom: 100px;
}
.description__text_blue {
  padding: 81px 0 50px 178px;
  max-width: 725px;
  color: #003274;
  font-weight: 400;
  font-size: 28px;
  line-height: 136.8%;
  letter-spacing: -0.04em;
  z-index: 1;
  position: relative;
}
.description__sticky {
  position: relative;
  width: 528px;
}
.description__sticky_box {
  height: 365px;
  margin-right: -168px;
  padding-left: 88px;
  bottom: 0px;
  top: 0;
  background: #025EA1;
  position: sticky;
  color: #FFFFFF;
}
.description__sticky_box__number {
  padding-top: 30px;
  font-weight: 700;
  font-size: 159px;
  line-height: 114.52%;
  letter-spacing: -0.03em;
}
.description__sticky_box__percent {
  padding-top: 30px;
  font-weight: 700;
  font-size: 49px;
  line-height: 113.7%;
  letter-spacing: -0.001em;
}
.description__sticky_box__bold {
  padding-top: 9px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  letter-spacing: -0.021em;
}
.description__sticky_box__normal {
  padding-top: 25px;
  width: 272px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}

.directions__heading {
  margin: 150px 0 100px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.directions__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 93px;
}
.directions__icons_item {
  width: 496px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.directions__icons_item__background {
  background-color: #F2F2F2;
  border-radius: 100%;
  width: 216px;
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.directions__icons_item__title {
  margin-top: 30px;
  color: #003274;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
  text-align: center;
}

.products__heading {
  margin: 150px 0 97px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.products__numbers {
  display: flex;
  flex-wrap: wrap;
  margin-left: 130px;
}
.products__numbers_first {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-right: 182px;
  color: #6CACE4;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_second {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_third {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-right: 182px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_size {
  font-weight: 700;
  font-size: 96px;
  line-height: 155%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.products__box {
  margin-top: 100px;
}
.products__box_name-strip {
  display: flex;
  align-items: center;
  width: 100%;
  height: 197px;
  background: #6CACE4;
}
.products__box_name-strip__name {
  width: 462px;
  padding-left: 130px;
  font-weight: 400;
  font-size: 28px;
  line-height: 152%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.products__box_name-strip__number {
  margin-left: 260px;
  font-weight: 700;
  font-size: 151px;
  line-height: 196px;
  color: #FFFFFF;
  opacity: 0.15;
}
.products__box_name-strip__img {
  margin-top: -200px;
  margin-left: 183px;
}
.products__box .product__image {
  width: 100%;
}
.products__box .products__box_content__description-image {
  display: flex;
}
.products__box_content {
  margin-left: 305px;
  margin-top: 100px;
}
.products__box_content__text {
  max-width: 770px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.products__box_content__contacts {
  display: flex;
  justify-content: space-between;
  width: 770px;
  margin-top: 60px;
}
.products__box_content__contacts_button {
  width: 192px;
  height: 60px;
  background-color: #6CACE4;
  border-radius: 63.7425px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 152%;
  letter-spacing: 0.005em;
  cursor: pointer;
}
.products__box_content__contacts_button__link {
  text-decoration: none;
  color: #FFFFFF;
}

.next__box {
  margin-top: 130px;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding-right: 154px;
  width: 100%;
  height: 270px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.next__box_second {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 89px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.next__box_size {
  font-weight: 700;
  font-size: 96px;
  line-height: 155%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.next__box_icon {
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #003274;
  padding-top: 43px;
  padding-bottom: 49px;
  display: flex;
  justify-content: space-around;
}
.footer__links {
  width: 196px;
}
.footer__links_img {
  margin-bottom: 70px;
}
.footer__links_socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.footer__links_company__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.001em;
  color: #6CACE4;
  opacity: 0.52;
}
.footer__menu_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu_list_link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.footer__contacts {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 295px;
}
.footer__contacts_data {
  display: flex;
  align-items: center;
  gap: 23px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.footer__contacts_data__text_link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__last-block_up {
  cursor: pointer;
}
.footer__last-block_politics {
  margin: 59px 0 31px 0;
  width: 240px;
}
.footer__last-block_politics__link {
  font-weight: 400;
  font-size: 21px;
  line-height: 139.5%;
  color: #6CACE4;
  letter-spacing: -0.001em;
  text-decoration: none;
}
.footer__last-block_zoran__link {
  font-weight: 350;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.041em;
  text-decoration: none;
  color: #6CACE4;
}
.footer__last-block_zoran__link_bold {
  font-weight: bold;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .header {
    margin-bottom: 40px;
    justify-content: space-around;
  }
  .menu__list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .close {
    display: none;
  }
  .open {
    display: block;
  }
  .metallurgy__text,
  .products__box_content {
    margin-left: 130px;
  }
  .directions__icons_item {
    width: 380px;
  }
  .description {
    padding-left: 130px;
  }
  .description__text_black {
    font-size: 18px;
  }
  .description__text_blue {
    font-size: 20px;
    padding-left: 65px;
  }
  .description__text__img {
    left: 0;
    top: 30px;
  }
  .description__sticky_box {
    padding-left: 75px;
  }
  .products__box_name-strip__img {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .menu__list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .close {
    display: none;
  }
  .open {
    display: block;
  }
  .metallurgy__heading {
    margin: 20px 0 40px 40px;
  }
  .metallurgy__text {
    margin: 30px 30px 40px 40px;
    font-size: 24px;
  }
  .metallurgy__text_width {
    width: 100%;
    padding-right: 0;
  }
  .description {
    width: 80%;
    padding-top: 50px;
    padding-left: 40px;
  }
  .description__text {
    width: 100%;
    padding-right: 0;
  }
  .description__text__img {
    left: 0;
    top: 40px;
  }
  .description__text_black {
    width: 80%;
  }
  .description__text_blue {
    padding: 81px 0 50px 60px;
    width: 390px;
    font-size: 25px;
  }
  .description__sticky_box {
    margin-right: -200px;
    padding-left: 20px;
  }
  .directions__heading {
    margin: 20px 0 40px 40px;
  }
  .directions__icons {
    gap: 5px;
  }
  .directions__icons_item {
    width: 360px;
    height: 100%;
  }
  .products__heading {
    margin: 20px 0 40px 40px;
  }
  .products__numbers {
    flex-wrap: wrap;
  }
  .products__numbers_third {
    align-items: center;
  }
  .products__box_content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .products__box_content__text {
    width: 100%;
  }
  .products__box_content__contacts {
    width: 100%;
  }
  .products__box_name-strip {
    width: 100%;
  }
  .products__box_name-strip__number {
    margin-left: 60px;
  }
  .products__box_name-strip__img {
    margin: 0;
  }
  .product__image {
    width: 300px;
  }
  .next__box {
    width: 100%;
    padding-right: 50px;
  }
  .footer {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer__links {
    padding-right: 99px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .header__rectangle,
  .header__icons {
    margin: 0;
    gap: 20px;
  }
  .menu__list {
    display: none;
  }
  .burger-menu {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    background-color: white;
  }
  .close {
    display: none;
  }
  .burger-menu__list {
    margin: 10px;
    font-size: 12px;
  }
  .open {
    display: block;
  }
  .metallurgy__heading {
    margin: 20px 0 40px 40px;
    font-size: 33px;
  }
  .metallurgy__text {
    margin: 30px 30px 40px 40px;
    font-size: 18px;
  }
  .metallurgy__text_width {
    width: 100%;
    padding-right: 0;
  }
  .description {
    width: 80%;
    padding-top: 50px;
    padding-left: 40px;
  }
  .description__text {
    padding-right: 0;
  }
  .description__text__img {
    left: 0;
    top: 5px;
    width: 50px;
  }
  .description__text_black {
    width: 80%;
    font-size: 12px;
  }
  .description__text_blue {
    padding: 20px 0 30px 25px;
    font-size: 14px;
  }
  .description__sticky {
    width: auto;
  }
  .description__sticky_box {
    padding-left: 10px;
    margin-right: -145px;
    height: 250px;
    top: 18%;
  }
  .description__sticky_box__number {
    font-size: 50px;
  }
  .description__sticky_box__percent {
    font-size: 29px;
  }
  .description__sticky_box__bold {
    font-size: 16px;
  }
  .description__sticky_box__normal {
    font-size: 18px;
    width: 60%;
    height: auto;
  }
  .directions__heading {
    margin: 20px 0 40px 40px;
    font-size: 33px;
  }
  .directions__icons {
    gap: 5px;
  }
  .directions__icons_item {
    width: 360px;
    height: 100%;
  }
  .products__heading {
    margin: 20px 0 40px 40px;
    font-size: 33px;
  }
  .products__numbers {
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .products__numbers_first,
  .products__numbers_second,
  .products__numbers_third {
    align-items: center;
    font-size: 18px;
  }
  .products__numbers_third {
    align-items: center;
  }
  .products__box_content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .products__box_content__description-image {
    flex-direction: column;
  }
  .products__box_content__text {
    width: 100%;
    font-size: 12px;
  }
  .products__box_content__contacts {
    width: 100%;
  }
  .products__box_content__contacts_button {
    font-size: 16px;
  }
  .products__box_name-strip {
    width: 100%;
    height: 120px;
  }
  .products__box_name-strip__name {
    padding-left: 40px;
    font-size: 20px;
  }
  .products__box_name-strip__number {
    margin-left: 60px;
    font-size: 100px;
  }
  .products__box_name-strip__img {
    margin: 0;
  }
  .product__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 150px;
    margin-top: 20px;
  }
  .next__box {
    width: 100%;
    height: 120px;
    padding-right: 10px;
    padding-left: 40px;
  }
  .next__box_second {
    font-size: 20px;
    margin-right: 40px;
  }
  .footer {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */