* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

.header {
  height: 99px;
  display: flex;
  justify-content: center;
}
.header__logo {
  padding: 15px 0;
}
.header__rectangle {
  margin: 0 66px 0 47px;
  display: flex;
  align-items: center;
}
.header__icons {
  margin-left: 97px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__icons_pointer {
  cursor: pointer;
}

.menu {
  display: flex;
}
.menu__list {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 152%;
  color: #003274;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 32px;
  letter-spacing: 0.005em;
}
.menu__list_item:hover {
  border-bottom: 2px solid #003274;
}
.menu__link {
  text-decoration: none;
  color: #003274;
}

.metallurgy {
  display: flex;
  flex-direction: column;
}
.metallurgy__heading {
  margin: 60px 0 80px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.metallurgy__text {
  margin: 130px 0 130px 305px;
  font-weight: 700;
  font-size: 44px;
  line-height: 123.8%;
  letter-spacing: -0.005em;
  color: #003274;
}
.metallurgy__text_width {
  width: 1312px;
  padding-right: 250px;
  box-sizing: border-box;
}

.description {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  width: 1752px;
  padding-top: 100px;
  padding-left: 305px;
  box-sizing: border-box;
  position: relative;
}
.description__text__img {
  position: absolute;
  left: 400px;
  top: 270px;
}
.description__text_black {
  width: 904px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.description__text_black__link {
  color: black;
}
.description__text_black:nth-last-child(1) {
  padding-top: 32px;
  padding-bottom: 100px;
}
.description__text_blue {
  padding: 81px 0 50px 178px;
  width: 725px;
  color: #003274;
  font-weight: 400;
  font-size: 28px;
  line-height: 136.8%;
  letter-spacing: -0.04em;
  z-index: 1;
  position: relative;
}
.description__sticky {
  position: relative;
}
.description__sticky_box {
  width: 528px;
  height: 365px;
  margin-right: -168px;
  padding-left: 88px;
  bottom: 0px;
  top: 0;
  background: #025EA1;
  position: sticky;
  color: #FFFFFF;
}
.description__sticky_box__number {
  padding-top: 30px;
  font-weight: 700;
  font-size: 159px;
  line-height: 114.52%;
  letter-spacing: -0.03em;
}
.description__sticky_box__percent {
  padding-top: 30px;
  font-weight: 700;
  font-size: 49px;
  line-height: 113.7%;
  letter-spacing: -0.001em;
}
.description__sticky_box__bold {
  padding-top: 9px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  letter-spacing: -0.021em;
}
.description__sticky_box__normal {
  padding-top: 25px;
  width: 272px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}

.directions__heading {
  margin: 150px 0 100px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.directions__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 93px;
}
.directions__icons_item {
  width: 496px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.directions__icons_item__background {
  background-color: #F2F2F2;
  border-radius: 100%;
  width: 216px;
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.directions__icons_item__title {
  margin-top: 30px;
  color: #003274;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
  text-align: center;
}

.products__heading {
  margin: 150px 0 97px 130px;
  color: #003274;
  font-weight: 700;
  font-size: 77px;
  line-height: 113%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.products__numbers {
  display: flex;
  margin-left: 130px;
}
.products__numbers_first {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-right: 182px;
  color: #6CACE4;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_second {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_third {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-right: 182px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.products__numbers_size {
  font-weight: 700;
  font-size: 96px;
  line-height: 155%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.products__box {
  margin-top: 100px;
  position: relative;
}
.products__box_name-strip {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 197px;
  background: #6CACE4;
}
.products__box_name-strip__name {
  width: 462px;
  padding-left: 130px;
  font-weight: 400;
  font-size: 28px;
  line-height: 152%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.products__box_name-strip__number {
  margin-left: 260px;
  font-weight: 700;
  font-size: 151px;
  line-height: 196px;
  color: #FFFFFF;
  opacity: 0.15;
}
.products__box_name-strip__img {
  position: absolute;
  width: 574px;
  height: 573px;
  top: 89px;
  right: 89px;
}
.products__box_content {
  margin-left: 305px;
  margin-top: 100px;
}
.products__box_content__text {
  width: 770px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.products__box_content__contacts {
  display: flex;
  justify-content: space-between;
  width: 770px;
  margin-top: 60px;
}
.products__box_content__contacts_button {
  width: 192px;
  height: 60px;
  background-color: #6CACE4;
  border-radius: 63.7425px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 152%;
  letter-spacing: 0.005em;
  cursor: pointer;
}

.next__box {
  margin-top: 130px;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding-right: 154px;
  width: 1920px;
  height: 270px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.next__box_second {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 89px;
  color: #003274;
  font-weight: 700;
  font-size: 28px;
  line-height: 152%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.next__box_size {
  font-weight: 700;
  font-size: 96px;
  line-height: 155%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.next__box_icon {
  cursor: pointer;
}

.footer {
  width: 1920px;
  height: 277px;
  background-color: #003274;
  display: flex;
}
.footer__links {
  width: 196px;
  padding: 39px 215px 43px 130px;
}
.footer__links_img {
  margin-bottom: 70px;
}
.footer__links_socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.footer__links_company__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.001em;
  color: #6CACE4;
  opacity: 0.52;
}
.footer__menu {
  padding-top: 43px;
  padding-left: 47px;
  width: 360px;
}
.footer__menu_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu_list_link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.001em;
  text-transform: uppercase;
}
.footer__contacts {
  color: #FFFFFF;
  padding-left: 47px;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 295px;
}
.footer__contacts_data {
  display: flex;
  align-items: center;
  gap: 23px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.001em;
}
.footer__contacts_data__text_link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__last-block {
  margin-left: 225px;
  margin-top: 48px;
}
.footer__last-block_up {
  cursor: pointer;
}
.footer__last-block_politics {
  margin: 59px 0 31px 0;
  width: 240px;
}
.footer__last-block_politics__link {
  font-weight: 400;
  font-size: 21px;
  line-height: 139.5%;
  color: #6CACE4;
  letter-spacing: -0.001em;
  text-decoration: none;
}
.footer__last-block_zoran__link {
  font-weight: 350;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.041em;
  text-decoration: none;
  color: #6CACE4;
}
.footer__last-block_zoran__link_bold {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */